body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.87);
}

#board {
    background-image: url("./Images/flappybirdbg.png");
    cursor: default;
}